MONGO_URI=mongodb+srv://viht61220:a98LXnsq5yujA6jt@cluster0-videv.hnusrwx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0-ViDev
DATABASE_NAME='todoapp'
LOCAL_DEV_APP_HOST='localhost'
LOCAL_DEV_APP_PORT=3333
AUTHOR = 'TienVi'
ACCESS_TOKEN_SECRET_SIGNATURE = 'KBgJwUETt4HeVD05WaXXI9V3JnwCVP'
REFRESH_TOKEN_SECRET_SIGNATURE = 'fcCjhnpeopVn2Hg1jG75MUi62051yL'